body {
    background-color: antiquewhite;
}

.grid {
    margin: 0 auto;
    height: 455px;
    width: 440px;
    background-color: rgb(255, 255, 255);
}

.grid img {
    height: 100px;
    padding: 5px;
}